export VIRTUAL_ENV=/Users/vlad/Dev/robodraw/.venv-vsketch
PATH_add /Users/vlad/Dev/robodraw/.venv-vsketch/bin
export MPLCONFIGDIR=/Users/vlad/Dev/robodraw/.mplconfig
export XDG_CACHE_HOME=/Users/vlad/Dev/robodraw/.cache
